body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ee4b4b; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container, .login {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #ff5733; 
    font-size: 24px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    text-align: left;
    font-weight: bold;
    color: #ff5733; 
    margin-top: 10px;
    font-size: 14px;
    display: flex;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff9e80; 
    border-radius: 20px;
    font-size: 14px;
    outline: none;
}

input:focus {
    border-color: #ff5733; 
    box-shadow: 0 0 5px rgba(255, 87, 51, 0.3);
}

.submit-btn, .btnlogin {
    background-color: #ff6f61; 
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: bold;
}

.submit-btn:hover, .btnlogin:hover {
    background-color: #ff3d2e; 
}

p {
    margin-top: 15px;
    font-size: 14px;
}

a {
    color: #ff6f61; 
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}